[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[packages]

pyyaml = "*"
colorline = "*"
pycryptodome = "*"


[requires]

python_version = "3.6"


[dev-packages]

