[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

pymysql = "*"
pyyaml = "*"
"bee8ac7" = {editable = true, path = "../pycryptodome"}
"b645465" = {path = "./../pycryptodome"}
colorline = "*"


[dev-packages]



[requires]

python_version = "3.6"
